/* Estilos generales */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--color-black);
}

:root {
    --color-light-blue: #75AADB;
    --color-white: #F5F5F5;
    --color-yellow: #F7E7A7;
    --color-black: #0A0A0A;
    --color-blueGreen: #48D1CC;
}

#header, #hero, #main, #aboutMe, #showcaseOfPlaces, #callToAction, #footer {
    padding-inline: 10vw;
}

h1, h2 {
    font-family: "New Amsterdam", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

a {
    text-decoration: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#header a {
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#header a:hover {
    color: var(--color-light-blue);
}

.headerRight,
.headerLeft {
    display: flex;
    flex-grow: 1;
}

.headerRight {
    justify-content: flex-end;
    gap: 40px;
}

/* HERO */
#hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
}

.heroLeft {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.heroLeft_titulo {
    text-align: center;
}

.heroLeft_titulo .h1a {
    color: var(--color-light-blue);
}

.heroLeft_pContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heroLeft_social {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.heroLeft_social a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-blue);
    border-radius: 50%;
}

.heroLeft_social a i {
    font-size: 1.75rem;
    color: var(--color-white);
}

.heroRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroRight img {
    border-radius: 50%;
}

/* SHOWCASE OF PLACES */
#showcaseOfPlaces {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-blue);
}

#showcaseOfPlaces h2 {
    margin: 40px;
}

.showcaseOfPlace_cardContainer {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.showcaseOfPlace_cardContainer-card {
    position: relative;
    overflow: hidden;

    width: 300px; 
    height: 300px;
    margin: 10px;

    background-size: cover; 
    background-position: center;
    border-radius: 10px;
    
}

.showcaseOfPlace_cardContainer-cardContent {
    position: absolute;
    width: 100%;
    padding: 10px;
    height: 50%;
    bottom: 0; 
    left: 0;

    background: rgba(0, 0, 0, 0.3); 
    text-align: center;
}

.showcaseOfPlace_cardContainer-card h2 {
    font-size: 1.5rem;
    color: var(--color-white);
}

.showcaseOfPlace_cardContainer-card p {
    margin: 5px;
    font-size: 1rem;
    color: var(--color-white);
}

/* ABOUTME */

#aboutMe{
    width: 100vw;
    height: 60vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-white);
}
.aboutMe_container-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
.aboutMe_p{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aboutMe_social{
    display: flex;
    align-items: center;
    gap: 20px;

}

.aboutMe_social a  {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-light-blue);
    border-radius: 50%;
    border: 1px solid var(--color-light-blue);
}
.aboutMe_social a i {
    color: var(--color-white);
    font-size: 1.75rem;
}
#callToAction{
    height: 35vh;
}
#footer{
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-light-blue);
}
#footer p{
    color: var(--color-white);
}