*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    color: var(--color-black);
}
#header, #hero, #main, #aboutMe, #showcaseOfPlaces, #callToAction, #footer{
    padding-inline: 10vw;
}
h1{
    font-weight: bold;
    font-family: "New Amsterdam", sans-serif;
    font-weight: bold;
    font-size: 3rem;

}
a{
    text-decoration: none; 
}
:root {
    --color-light-blue: #75AADB;
    --color-white: #F5F5F5;
    --color-yellow: #F7E7A7;
    --color-black: #0A0A0A;
    --color-blueGreen:#48D1CC;
  }
/* HEADER */
#header{
    position: fixed;
    top: 0;
    left: 0;          

    height: 15vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
}
#header a{
    font-size: 1.2rem;
}
.headerRight,
.headerLeft{
    display: flex;
    flex-grow: 1;
}
.headerRight{
    justify-content: flex-end;
    gap: 40px;
}
/* HERO */
#hero{
    height: 100vh;
    width: 100vw;
    

    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    
}
.heroLeft{
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.heroLeft_titulo{
    text-align: center;
}
.heroLeft_titulo .h1a{
    color: var(--color-light-blue);
}
.heroLeft_pContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heroLeft_social{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.heroLeft_social a{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-blue);
    border-radius: 50%;
}
.heroLeft_social a i{
    font-size: 1.75rem;
    color: var(--color-white);

}
.heroRight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroRight img{
    border-radius: 50%;
}